<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.emx"
            id="gov.us.fhim.uml.transform.dita.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Generate" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="gov.us.fhim.uml.transform.dita.ui.popupMenus.AcceleoGenerateDitaAction"
               enablesFor="+"
               id="gov.us.fhim.uml.transform.dita.ui.popupMenus.acceleoGenerateDitaAction"
               icon="icons/default.gif"
               label="DITA"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
